streamlit==1.46.1
neo4j==5.28.1
requests==2.32.4
PyMuPDF==1.26.3
langchain==0.3.26
langchain-openai==0.3.27
langchain-community==0.3.27
python-dotenv==1.1.1
openai==1.95.1
pandas==2.3.1
numpy==2.3.1
chromadb==1.0.15
pypdf==5.7.0
langchain-chroma==0.2.4
neo4j-graphrag==1.8.0
langgraph==0.5.2
black==25.1.0
isort==6.0.1
ruff==0.12.3